<button (click)="selectRole('Security')">
Security
</button>
<button (click)="selectRole('Dock')">
Dock
</button>

<input type="text" placeholder="Search trailer number..." [(ngModel)]="searchText"/>


<div class="filters">
<button (click)="statusFilter='All'">All</button>
<button (click)="statusFilter='loading'">loading</button>
<button (click)="statusFilter='arriving'">arriving</button>
<button (click)="statusFilter='ready'">ready</button>
<button (click)="statusFilter='departed'">departed</button>
</div>



<table>
<thead>
<tr>
<th>id</th>
<th>TrailerNum</th>
<th>status</th>
<th>spot</th>
<th>UpdatedDate</th>
</tr>
</thead>


<tbody>
@if (filteredTrailers.length === 0) {
<p>No trailers matching this ID present.</p>}


<tr *ngFor="let trailer of filteredTrailers"
    (click)="selectTrailer(trailer)">
<td>{{ trailer.id }}</td>
<td>{{ trailer.trailerNumber }}</td>
<td>{{ trailer.status }}</td>
<td>{{ trailer.spot }}</td>
<td>{{ trailer.updatedAt }}</td>
</tr>
</tbody>
</table>